[submodule "rotors_simulator"]
	path = src/rotors_simulator
	url = git@github.com:ethz-asl/rotors_simulator.git
	branch = feature/gazebo9
[submodule "mav_comm"]
	path = src/mav_comm
	url = git@github.com:ethz-asl/mav_comm.git
[submodule "src/rmf"]
	path = src/rmf
	url = git@github.com:unr-arl/rmf.git
	branch = rl_robotics
[submodule "src/lidar_simulator"]
	path = src/lidar_simulator
	url = git@github.com:unr-arl/lidar_simulator.git
[submodule "src/ctrl_planning"]
	path = src/ctrl_planning
	url = git@github.com:unr-arl/ctrl_planning.git
	branch = rl_class
