[submodule "mav_comm"]
	path = src/mav_comm
	url = git@github.com:ethz-asl/mav_comm.git
[submodule "src/rmf"]
	path = src/rmf
	url = git@github.com:unr-arl/rmf.git
	branch = rl_robotics
[submodule "src/lidar_simulator"]
	path = src/lidar_simulator
	url = git@github.com:unr-arl/lidar_simulator.git
[submodule "src/ctrl_planning"]
	path = src/ctrl_planning
	url = git@github.com:unr-arl/ctrl_planning.git
	branch = rl_class
[submodule "rotors_simulator"]
	path = src/rotors_simulator
	url = git@github.com:unr-arl/rotors_simulator.git
	branch = melodic_devel
[submodule "src/ros_data_utils"]
	path = src/ros_data_utils
	url = git@github.com:unr-arl/ros_data_utils.git
	branch = master
[submodule "src/catkin_simple"]
	path = src/catkin_simple
	url = git@github.com:catkin/catkin_simple.git
	branch = master
[submodule "src/rl_planners"]
	path = src/rl_planners
	url = git@github.com:unr-arl/rl_planners.git
	branch = master
